{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "commonjs": true,
    "jest": true
  },
  "plugins": [
    // ...
    "@typescript-eslint",
    "react-hooks",
    "prettier"
    // "babel-plugin-styled-components"
  ],
  "rules": {
    // ...
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "semi": "error",
    "prettier/prettier": "error",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "func-names": "off"
    // "@typescript-eslint/no-require-imports": "error"
  },
  "ignorePatterns": ["src/__tests__/**, **/*.spec.js"],
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended"
  ]
}
